
.carousel .carousel-indicators [data-bs-target] {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    margin: 2px !important;
    padding: 0 !important;
    background-color: white !important;
}
/*.card-img, .card-img-bottom, .card-img-top {*/
/*    width: 200px !important;*/
/*}*/